* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    max-width: calc(1200px + 16px*2);
    padding: 0 16px;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin: 46px 343px 35px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #192252;
}
.link {
    margin: 56px 32px 45px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;
    text-decoration: none;
}
.header__btn {
    margin: 37px 0 37px 288px;
    width: 121px;
    height: 47px;
    background-color: #0E1734;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}